.chart div{
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 5px;
  margin:1px;
  color: blue;

}
h1{
  opacity: .2;
}
.chart{
  padding-right: 2px;
  border:4px groove black;
  background-color: grey;
  display: inline-block;
}
